@import 'tailwindcss';
@import 'tw-animate-css';

/* enable Dark mode: `class="dark"` */
@custom-variant dark (&:is(.dark *));

/* Light Theme */
:root {
  --radius: 0.5rem;

  --highlight: oklch(50% 0.18 250);

  /* Base background and text colors */
  --background: oklch(98.5% 0.01 250);
  --foreground: oklch(5% 0.01 250);

  /* Muted elements (e.g., borders, subtle backgrounds) */
  --muted: oklch(92.5% 0.005 250);
  --muted-foreground: oklch(42.5% 0.005 250);

  /* Popover components (tooltips, dropdowns, etc.) */
  --popover: oklch(92.5% 0.005 250);
  --popover-foreground: oklch(5.5% 0.01 250);

  /* Card components */
  --card: oklch(92.5% 0.005 250);
  --card-foreground: oklch(5.5% 0.01 250);

  /* Input fields and borders */
  --border: oklch(90% 0.015 250);
  --input: oklch(95% 0.01 250);
  --placeholder: oklch(55% 0.005 250);

  /* Primary color (e.g., buttons, links) */
  --primary: #00467f;
  --primary-foreground: oklch(92.5% 0.01 250);

  /* Secondary color (e.g., secondary buttons, tags) */
  --secondary: oklch(96.25% 0.005 250);
  --secondary-foreground: oklch(12.5% 0.01 250);

  --accent: oklch(96.25% 0.005 250);
  --accent-foreground: oklch(12.5% 0.01 250);

  /* Destructive actions (e.g., delete buttons) */
  --destructive: oklch(60.2% 0.25 30);
  --destructive-foreground: oklch(98% 0 0);

  /* Focus ring */
  --ring: oklch(50% 0.18 250);

  /* Map CSS variables to Tailwind built-in color properties */
  @theme inline {
    --color-highlight: var(--highlight);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-placeholder: var(--placeholder);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
  }
}

/* Dark Theme `<html class="dark">` */
.dark {
  --highlight: #1fa2ff;

  --background: oklch(4.48% 0.01 250);
  --foreground: oklch(97.8% 0.01 250);

  --muted: oklch(16.8% 0.05 250);
  --muted-foreground: oklch(55.6% 0.01 250);

  --popover: oklch(7.28% 0.045 250);
  --popover-foreground: oklch(97.8% 0.01 250);

  --card: oklch(7.28% 0.045 250);
  --card-foreground: oklch(97.8% 0.01 250);

  --border: oklch(16.8% 0.05 250);
  --input: oklch(16.8% 0.05 250);

  --primary: oklch(56% 0.22 250);
  --primary-foreground: oklch(5.6% 0.01 250);

  --secondary: oklch(16.8% 0.05 250);
  --secondary-foreground: oklch(97.8% 0.01 250);

  --accent: oklch(16.8% 0.05 250);
  --accent-foreground: oklch(97.8% 0.01 250);

  --destructive: oklch(30.6% 0.25 30);
  --destructive-foreground: oklch(97.8% 0.01 250);

  --ring: oklch(56% 0.22 250);
}

@layer components {
  /* Work with `.inner-container` to represent a top level container
   * like `<main>` or `<header>`.
   * Then the bg color covers all the width,
   * and the content's max width is still limited by `.inner-container` */
  .outer-container {
    @apply flex w-full items-center justify-center;
  }

  /* Work with `.outer-container` to represent a top level container
   * like `<main>` or `<header>`.
   * Then the bg color covers all the width,
   * and the content's max width is still limited by `.inner-container` */
  .inner-container {
    @apply w-full items-center px-4 py-6 md:max-w-7xl md:px-8 md:py-10;
  }
}
